body {
    font-family: Arial, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #0d0b23;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: white;
}

p {
    font-size: 2em;
    color: rgb(255, 255, 255);
    font-weight: bold; 
}


.checker-box {
    background-color: #1a1a1a;
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}

#text-input {
    padding: 10px;
    width: 300px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    border-bottom: 2px solid rgb(53, 41, 53);
    background-color: #333;
    color: white;
}

#check-btn {
    padding: 10px 20px;
    background-color: purple;
    color: white;
    border: none;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#check-btn:hover {
    background-color: darkviolet;
}
#generate-Btn {
    padding: 10px 20px;
    background-color: rgb(139, 7, 15);
    color: white;
    border: none;
    font-size: 1em;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

#generate-Btn:hover {
    background-color: rgb(200, 6, 55);
}



#result {
    margin-top: 20px;
    font-size: 18px;
    min-height: 24px;
    color: white;
}

.info {
    background-color: #065f29;
    padding: 15px;
    margin-top: 30px;
    border-radius: 10px;
    color: white;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
    text-align: left;

}






